{% extends 'base.html.twig' %}

{% block body %}
    {% for type,messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="flashBag alert alert-success alert-dismissible fade show">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
    {{ form_rest(form) }}

    <input type="submit" value="Valider">
    {{ form_end(form) }}

{% endblock %}