section{
    width:auto!important;
}

legend{
    font-size: x-large!important;
}

.btn{
    height:40px;
}

.btn-danger{
    width: 110px;
}

#medias fieldset, #videos fieldset{
    border-radius: 25px;
    margin: 0.5rem;
}

#medias{
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}

#videos{
    border-bottom: black 1px solid;
}