{% extends'base.html.twig' %}


{% block body %}
<div class="col-12 row justify-content-center align-items-center">
    <h3 class="col-12 text-center">Vous allez supprimer la figure << {{ trick.name }} >>, êtes vous sur?</h3>
    <form class="col-12 row justify-content-center align-items-center" action="{{ path('app_trick_delete', {'trick': trick.id}) }}" method="post">
        <a href="{{ path('app_trick_view', {'trick': trick.id , 'slug': trick.name}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

</div>


{% endblock %}