{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/index.css') }}" />
{% endblock %}

{% block body %}
    <section id="Landpage" class="align-items-center row" style="background-image: url('{{ asset('uploads/img/Landpage.jpg') }}')">
        {% include('flash.html.twig') %}
        <h1 class="col-12 text-center text-light">As smooth as the Snow</h1>
        <a class="position-absolute d-flex arrow justify-content-center align-items-center" href="#Tricks"><i class="fas fa-arrow-down"></i></a>
    </section>
    <section id ="Tricks" class="row justify-content-center">
        {% include('trick/load_More.html.twig') %}
    </section>
{% endblock %}

{% block js %}
{% endblock %}
