<div class="col-12 row justify-content-center p-5">
    {% if number >= 15 %}
        <a class="position-absolute arrow-up pb-5 pr-5" href="#Tricks"><i class="fas fa-arrow-up"></i></a>
    {% endif %}
    {% if tricksLeft %}
        <button id="loadMore" class="rounded bg-light">Load More</button>
    {% else %}
    {% endif %}
</div>