<div class="col-12 row justify-content-center align-items-center p-2">
    {% if number > 10 %}
        <a href="#Landpage" class="position-absolute d-flex arrow justify-content-center align-items-center" href="#Tricks"><i class="fas fa-arrow-up"></i></a>
    {% endif %}
    {% if tricksLeft %}
        <button id="loadMore" class="rounded bg-light">Voir plus</button>
    {% else %}
    {% endif %}
</div>