{% extends 'base.html.twig' %}

{% block body %}
    {% include('flash.html.twig') %}

    <div class="col-12 row justify-content-center">

        {{ form_start(form) }}
            {{ form_row(form.file) }}
            {{ form_row(form.alt) }}
            <input type="submit" value="Valider">
        {{ form_end(form) }}

    </div>

{% endblock %}
